/*html, body{
	background: #C50000;
	color: white;
}

#content{
	background: white;
	color: black;
*/

#footer {
	text-align: center;
}

.NS{
	background-image: url(/images/ns.png);
	height:20px;
	width:20px;
}

.IC{
	background-image: url(/images/ic.png);
	height:20px;
	width:20px;
}

.NR{
	background-image: url(/images/nr.png);
	height:20px;
	width:20px;
}

.S{
	background-image: url(/images/s.png);
	height:20px;
	width:20px;
}